

.p10{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.query {
	text-align:center;
}

.textbox{
	background-color:#b5ff75;
	opacity: 0.8;
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.bgimg-1 {
	background-image:url("../images/laser.png");
	min-height: 600px;
}

.bgimg-2 {
	background-image: url("../images/laser2.png");
	min-height: 600px;
}

.bgimg-3 {
	background-image: url("../images/laserconcept.png");
	width:100%;
	min-height: 600px;
}

.bgimg-4 {
	background-image: url("../images/laseraircraftexample.png");
	min-height: 600px;
}

.bgimg-5 {
	background-image: url("../images/ecoplane2.png");
	min-height: 600px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

/* tablets and phones */
@media only screen and (max-device-width: 1024px) {
	
	.tablet{
		display: none;
	}
	
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: scroll;
		min-height: 200px;
  }
}
@media (max-width: 768px) {
	
	.tablet{
		display: none;
	}
	
	.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
		background-attachment: scroll;
		min-height: 200px;
  }
}
