/* unvisited link */
a:link {
	color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
	color: red;
    text-decoration: none;
	
}

/* mouse over link */
a:hover {
	color: red;
    text-decoration: underline;
}

/* selected link */
a:active {
	color: red;
    text-decoration: underline;
}
